<div class="sidebar">
  <%= render_component(:controller => 'sidebar/link', 
                       :action     => 'get_links') %>
</div>

<h1>Welcome to my blog!</h1>

<p>
  Last night I had pizza. It was very good. I also watched
  some television. I like the pretty colors.
</p>
