<h3>A Pragmatic Survey</h3>

<p>
  Dear <%=h @order.name %>
</p>

<p>
  You recently placed an order with our store.
</p>

<p>
  We were wondering if you'd mind taking the time to
  visit <a href="http://some.survey.site">our survey site</a>
  and rate your experience.
<p>
  
<p>  
  Many thanks.
</p>
