<ul>
  <li>Addition: <%= 1+2 %> </li>
  <li>Concatenation: <%= "cow" + "boy" %> </li>
  <li>Time in one hour:  <%= 1.hour.from_now  %> </li><!-- <wtf linkend="wtf.1.hour.from.now">1.hour.from_now</wtf> -->
</ul>
