/* Global styles */

#store {
  #notice {
    color: #000;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
  }

  h1 {
    font:  150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }
}

/* Styles for products/index */

#product_list {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:        60px;
    height:       70px;
  }

  .list_description {
    width:        60%;
  }

  .list_description dl {
    margin: 0;
  }

  .list_description dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
  }

  .list_description dd {
    margin: 0;
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #e0f8f8;
  }

  .list_line_odd {
    background:   #f8b0f8;
  }
}

/* An entry in the store catalog */

#store {
  .title {
    font-size: 120%;
    font-family: sans-serif;
  }

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    p {
      margin-left: 100px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em; 
    }

    .price_line {
      margin-left: 100px;
      margin-bottom: 0.5em;
    }

    .add_to_cart {
      position: relative;
    }

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}
