/* Global styles */

#store {
  #notice {
    color: #000;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
  }

  h1 {
    font:  150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }
}

/* Styles for products/index */

#product_list {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:        60px;
    height:       70px;
  }

  .list_description {
    width:        60%;
  }

  .list_description dl {
    margin: 0;
  }

  .list_description dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
  }

  .list_description dd {
    margin: 0;
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #e0f8f8;
  }

  .list_line_odd {
    background:   #f8b0f8;
  }
}

/* START:mainlayout */
/* Styles for main page */

#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#columns {
  background: #141;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #141;

  a {
    color: #bfb;
    font-size: small;
  }
}
/* END:mainlayout */

/* An entry in the store catalog */

#store {
  .title {
    font-size: 120%;
    font-family: sans-serif;
  }

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      float: left;
    }

    h3 {
     margin-top: 0;
     margin-bottom: 2px;
     color: #227;
    }

    p {
     margin-top: 0.5em; 
     margin-bottom: 0.8em; 
    }

    .price_line {
     clear: both;
     margin-bottom: 0.5em;
    }

    .add_to_cart {
      position: relative;
    }

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}

/* START:inline */
#store .entry form, #store .entry form div {
  display: inline;
}
/* END:inline */

/* START:cartmain */
/* Styles for the cart in the main page */

#store {
  .cart_title {
    font: 120% bold;
  }

  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}
/* END:cartmain */

/* START:cartside */
/* Styles for the cart in the sidebar */

#cart {
  font-size: smaller;
  color:     white;

  table {
    border-top:    1px dotted #595;
    border-bottom: 1px dotted #595;
    margin-bottom: 10px;
  }
}
/* END:cartside */

/* START:form */
/* Styles for order form */

.depot_form {
  fieldset {
    background: #efe;
  }

  legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
  }

  label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
  }

  select, textarea, input {
    margin-left: 0.5em;
  }

  .submit {
    margin-left: 4em;
  }

  div {
    margin: 0.5em 0;
  }
}
/* END:form */

/* START:i18n */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}
/* END:i18n */
