<fieldset data-payment-target="additionalFields" data-type="Check">
  <div class="my-5">
    <%= form.label :routing_number %>
    <%= form.text_field :routing_number, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :account_number %>
    <%= form.password_field :account_number, class: "input-field" %>
  </div>
</fieldset>
